.like{vertical-align: middle;text-decoration: none; font-family: cursive;position: absolute;bottom: 25px;left:12px;right:12px}
.share{position:relative;opacity: 2px;transform-style: flat;padding:1px}
.share:hover{border-color: darkslategray;box-shadow: }
